body{
    background-color: rgb(134, 131, 131);
}
.header {
  width: 100%;
  display: flex;
  background-color: rgb(21, 67, 96);
  /*background-color: rgb(16, 16, 17);*/
  /* background-image: url('fondo.jpg'); */
  border-radius: 20px;
 
}

.my-photo {
  width: 20%;
  padding: 10px;
}

.my-photo img {
  width: 100%;
  /* height: 90%; */
  margin: 3px;
  border-radius: 20px;
 
}

.header-content {
  width: 60%;
  margin: 20px;
}
.header-content-name{
    color: white;
}
.header-content-d{
color:rgb(241, 196, 15 );
font-weight: bold;
}
.datos{
color: white;
}

.btn{
    
    margin-bottom: 15px;
    padding: 5px;
    height: 40px;
    background-color: rgb(21, 67, 96);
}


section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}
.section-experience,
.section-studies {
    color: rgb(10, 2, 37);
    font-weight: bold;
}

.active {
  display: block;
  /*background-color: rgb(41, 39, 38);*/
  background-color: rgb(163, 228, 215  );
  padding: 20px;
  border-radius: 20px;
  color: rgb(59, 59, 59);
  font-size: 20px;
  transition: 1s;
  /*box-shadow: 2px 2px 20px rgba(200, 200, 200, 10);*/
  
  
}
.otros{
    color: rgb(4, 3, 49);
    font-weight: bold;
}
footer{
   
    background-color: rgb(214, 234, 248 );
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    
}
.social-links{
    
    display:inline-flex;
    list-style: none;
}
.social-links li{
    margin: 0px;
}
.social-links li a{
    text-decoration: none;
    padding: 5px;
}
.social-links li a img{
    width: 10%;
    /*margin-left: 20px;*/
}
.sections{
    display: inline-flex;
}
.contenido1{
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.present{
    color: rgb(241, 196, 15 );
    font-weight: bold;
}
.modal-content{
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(134, 131, 131);
}
.modal-header{
    background-color: rgb(21, 67, 96);
    color: rgb(255, 251, 251);
    font-size: 20px;
}
.modal-body{
    background-color: rgb(224, 229, 230);
    color: rgb(75, 73, 73);
    font-size: 20px;
}
